@import "../../../styles/colors";

.video-container {
  position: relative;
}
video {
  height: auto;
  vertical-align: middle;
  width: 100%;
}
.overlay-desc {
  background: rgba(0,0,0,0);
  position: absolute;
  right: 0; bottom: 0; left: 0;
  margin-bottom: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.basic-info {
  -moz-box-shadow: 10px 10px 10px -10px black, 10px -10px 10px -10px grey;
  -webkit-box-shadow: 10px 10px 10px -10px black, 10px -10px 10px -10px grey;
  box-shadow: 10px 10px 10px -10px black, 10px -10px 10px -10px black;
  display: flex;
  flex-direction: column;
  height: 150px;
  background-color: #545970;
  color: white;
  width: 100%;

  .hero-top {
    display: flex;
    flex-direction: row;
    padding: 20px 60px 0 60px;
    height: 80%;

    .half {
      width: 80%;

      img {
        height: 100%;
        width: 100px;
        margin-right: 80px;
      }

      display: flex;
      flex-direction: row;
    }

    .basic-info-difficulty {
      width: 20%;
      text-align: right;

      .fas {
        line-height: 2 !important;
        margin-right: 10px;
        color: $orange;
      }
    }
  }

  .hero-bottom {
    display: flex;
    flex-direction: row;
    height: 20%;

    button {
      width: 25%;
      border-radius: 0;
      opacity: 0.5;
      color: white;
    }

    button:hover {
      outline: none;
      box-shadow: none;
      opacity: 1;
    }

    button:focus {
      outline: none;
      box-shadow: none;
      opacity: 1;
    }
  }
}

.story {
  background-image: url('../../../assets/ana-story-of.jpg');
  height: 900px;
  background-color: $Ana;
  padding: 25px 100px;
  background-position: top;
  color: white;

  .story-body {
    width: 50%;
    height: 100%;
    background-color: rgba(84, 89, 112, 0.7);
    padding: 25px;

    .top {
      height: 20%;

      .motto {
        color: #036BC9;
        font-size: 20px;
        font-weight: bolder;
      }
    }

    .bottom {
      background-color: rgba(84, 89, 112, 0.8);
      padding: 20px;
      height: 80%;
    }
  }
}

.abilities {
  height: 900px;
  background-color: #F99E1A;

  .abilities-menu {
    position: absolute;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;

    .buttons {
      width: 50%;
      margin: 0 auto;

      button {
        border-radius: 50%;
        height: 80%;
        width: 80px;
      }
    }

  }
}










////.ana-header {
//  .one {
//    height: 150px;
//    background-image: url("../../../assets/ana-moze.jpg");
//    background-position: bottom;
//    background-repeat: no-repeat;
//  }
//
//
//
//  .map {
//    -moz-box-shadow:    inset  0  10px 10px -10px black,
//    inset  0 -10px 10px -10px grey;
//    -webkit-box-shadow: inset  0  10px 10px -10px black,
//    inset  0 -10px 10px -10px grey;
//    box-shadow:        inset  0  10px 10px -10px black,
//    inset  0 -10px 10px -10px black;
//    background-image: url("../../../assets/anabottom.jpg");
//    background-position: bottom;
//    height: 300px;
//  }
//
//  .three {
//    height: 150px;
//    background-color: white;
//    margin-top: 10px;
//  }
//
//  .four {
//    height: 150px;
//  }
//
//  .hero-name {
//    font-size: 80px;
//    color: $Ana;
//    text-align: center;
//  }
//

