<div *ngIf="!load && userInfo === null">No user were found, please use search bar to find User</div>
<p-progressSpinner *ngIf="load && userInfo === null"></p-progressSpinner>
<div *ngIf="!load && userInfo !== null" class="main">
  <div class="main-user">
    <div class="left-menu">
      <div class="user-logo">
        <img src="{{userInfo.portrait}}" class="portrait">
        <img src="{{userInfoTwo.levelIcon}}" class="lvl-icon">
      </div>
    </div>
    <div class="right">

    </div>
  </div>
</div>
