@import "../../../styles/colors";

.ui-g-12 ui-md-4 {
  width: 100%;
  margin: 25px;
}


.ui-inputgroup {
  width: 100% !important;
}

input {
  width: 100%;
}

p-dialog {
  background-color: white;
  min-height: 0 !important;
}

.error-message {
  border: none;
}

body .ui-dialog {
  background-color: white;
}

.ui-dialog {
  background-color: white;
}

body .ui-dialog .ui-dialog-content {
  height: 100% !important;
}

.ui-dialog .ui-dialog-content {
  height: 100% !important;
}

.dropdowns {
  display: flex;
  flex-direction: row;
  float: right;
  width: 200px;
}

.search-options {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 80%;
}

@media screen and (min-width: 40.063em) {
  .ui-md-4 {
    width: 100%;
    margin: 25px;
  }
}

.ui-button {
  background-color: $orange !important;
  border: 1px solid $orange !important;
}
