$orange: #F99E1A;
$gray: #43484C;
$light-blue: #99A5CD;
$Ana: #6E87AF;
$Bastion: #7C8F7B;
$Brigitte: #BF746E;
$DVa: #EC92C6;
$Doomfist: #83524B;
$Genji: #95EE42;
$Hanzo: #B9B48A;
$Junkrat: #EABB52;
$Lucio: #83C951;
$McCree: #AF595C;
$Mei: #6CABED;
$Mercy: #EBE8BB;
$Moira: #7D3D50;
$Orisa: #458B42;
$Pharah: #3B79C4;
$Reaper: #7D3E50;
$Reinhardt: #95A0A6;
$Roadhog: #B68C51;
$Soldier: #687693;
$Sombra: #7459BA;
$Symmetra: #8EBCCE;
$Torbjorn: #BF746F;
$Tracer: #D69241;
$Widow: #9C69A9;
$Winston: #A1A5BE;
$Hammond: #D99242;
$Zarya: #EA81B9;
$Zenyatta: #EEE582;
