@import "../../../styles/colors";

.hero-section {
  margin: 20px;
  display: flex;
  flex-direction: row;
  height: 60px;
}

.hero-selection {
  height: 40px;
  display: flex;
  flex-direction: row;
  background-color: #c3c3c5;
  padding: 5px;
  width: 300px;
  margin: 20px;
  -ms-transform: skewX(-20deg); /* IE 9 */
  -webkit-transform: skewX(-20deg); /* Safari */
  transform: skewX(-20deg); /* Standard syntax */
}

.heroes {
  margin-top: 10px;
}

.classes {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  -ms-transform: skewX(20deg); /* IE 9 */
  -webkit-transform: skewX(20deg); /* Safari */
  transform: skewX(20deg); /* Standard syntax */
}

.hero-class {
  width: 30px;
  margin: 0 10px;
}

.hero-text {
  font-size: 70px;
  padding: 20px 100px;
  z-index: -1;
}

.ana {
  background-image: url("../../../assets/heroes/ana-back-op.png");
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  opacity: 0.5;

  .front {
    background-image: url("../../../assets/heroes/ana.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}

.ana:hover {
  opacity: 1;
  outline: 4px solid $orange;
}

.bastion {
  background-image: url("../../../assets/heroes/bast.png");
  height: 150px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  opacity: 0.5;

  .front {
    background-image: url("../../../assets/heroes/bast-front.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}

.bastion:hover {
  opacity: 1;
  outline: 4px solid $orange;
}

.dva {
  background-image: url("../../../assets/heroes/dva-op.png");
  height: 150px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  opacity: 0.5;

  .front {
    background-image: url("../../../assets/heroes/dva.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}

.dva:hover {
  opacity: 1;
  outline: 4px solid $orange;
}

.orisa {
  background-image: url("../../../assets/orisa-op.png");
  height: 150px;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  opacity: 0.5;

  .front {
    background-image: url("../../../assets/Orisa.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}

.orisa:hover {
  opacity: 1;
  outline: 4px solid $orange;
}

.reinhardt {
  background-image: url("../../../assets/rein-op.png");
  height: 150px;
  background-repeat: no-repeat;
  opacity: 0.5;
  margin-bottom: 10px;

  .front {
    background-image: url("../../../assets/Reinhardt.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}

.reinhardt:hover {
  opacity: 1;
  outline: 4px solid $orange;
}

.roadhog {
  background-image: url("../../../assets/rado-op.png");
  height: 150px;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  opacity: 0.5;

  .front {
    background-image: url("../../../assets/Roadhog.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}

.roadhog:hover {
  opacity: 1;
  outline: 4px solid $orange;
}

.winston {
  background-image: url("../../../assets/winston-op.png");
  height: 150px;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  opacity: 0.5;

  .front {
    background-image: url("../../../assets/Winston_portrait.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}

.winston:hover {
  opacity: 1;
  outline: 4px solid $orange;
}

.zaria {
  background-image: url("../../../assets/zaria-op.png");
  height: 150px;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  opacity: 0.5;

  .front {
    background-image: url("../../../assets/Zarya_portrait.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}

.zaria:hover {
  opacity: 1;
  outline: 4px solid $orange;
}

.genji {
  background-image: url("../../../assets/heroes/genji-op.png");
  height: 150px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  opacity: 0.5;

  .front {
    background-image: url("../../../assets/heroes/Genji.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}

.genji:hover {
  opacity: 1;
  outline: 4px solid $orange;
}

.hanzo {
  background-image: url("../../../assets/heroes/hanzo-op.png");
  height: 150px;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-bottom: 10px;
  opacity: 0.5;

  .front {
    background-image: url("../../../assets/heroes/Hanzo.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}

.hanzo:hover {
  opacity: 1;
  outline: 4px solid $orange;
}

.junkrat {
  background-image: url("../../../assets/heroes/junkrat-opp.png");
  height: 150px;
  background-position: center;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  opacity: 0.5;

  .front {
    background-image: url("../../../assets/heroes/junkrat.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}

.junkrat:hover {
  opacity: 1;
  outline: 4px solid $orange;
}

.lucio {
  background-image: url("../../../assets/heroes/lucio-opp.png");
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  opacity: 0.5;

  .front {
    background-image: url("../../../assets/heroes/Lucio.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}

.lucio:hover {
  opacity: 1;
  outline: 4px solid $orange;
}

.mccree {
  background-image: url("../../../assets/heroes/mcc.png");
  height: 150px;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  background-position: center;
  opacity: 0.5;

  .front {
    background-image: url("../../../assets/heroes/McCree.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}

.mccree:hover {
  opacity: 1;
  outline: 4px solid $orange;
}

.mei {
  background-image: url("../../../assets/heroes/mei-op.png");
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;
  opacity: 0.5;

  .front {
    background-image: url("../../../assets/heroes/Mei.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}

.mei:hover {
  opacity: 1;
  outline: 4px solid $orange;
}

.mercy {
  background-image: url("../../../assets/heroes/mercy-op.png");
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;
  opacity: 0.5;

  .front {
    background-image: url("../../../assets/heroes/Mercy.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}

.mercy:hover {
  opacity: 1;
  outline: 4px solid $orange;
}

.phara {
  background-image: url("../../../assets/pharah-op.png");
  height: 150px;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  opacity: 0.5;

  .front {
    background-image: url("../../../assets/p.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}

.phara:hover {
  opacity: 1;
  outline: 4px solid $orange;
}

.reaper {
  background-image: url("../../../assets/reaper-opp.png");
  height: 150px;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  opacity: 0.5;

  .front {
    background-image: url("../../../assets/reaper.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}

.reaper:hover {
  opacity: 1;
  outline: 4px solid $orange;
}

.soldier {
  background-image: url("../../../assets/soldier-op.png");
  height: 150px;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  opacity: 0.5;

  .front {
    background-image: url("../../../assets/Soldier_76.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}

.soldier:hover {
  opacity: 1;
  outline: 4px solid $orange;
}

.symmetra {
  background-image: url("../../../assets/symmetra-op.png");
  height: 150px;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  opacity: 0.5;

  .front {
    background-image: url("../../../assets/Symmetra.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}

.symmetra:hover {
  opacity: 1;
  outline: 4px solid $orange;
}

.torbjorn {
  background-image: url("../../../assets/torb-op.png");
  height: 150px;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  opacity: 0.5;

  .front {
    background-image: url("../../../assets/Torbjorn.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}

.torbjorn:hover {
  opacity: 1;
  outline: 4px solid $orange;
}

.tracer {
  background-image: url("../../../assets/traer-op.png");
  height: 150px;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  opacity: 0.5;

  .front {
    background-image: url("../../../assets/Tracer.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}

.tracer:hover {
  opacity: 1;
  outline: 4px solid $orange;
}

.widow {
  background-image: url("../../../assets/widow-op.png");
  height: 150px;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  opacity: 0.5;

  .front {
    background-image: url("../../../assets/Widow.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}

.widow:hover {
  opacity: 1;
  outline: 4px solid $orange;
}

.zenyatta {
  background-image: url("../../../assets/zenyatta-op.png");
  height: 150px;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  opacity: 0.5;

  .front {
    background-image: url("../../../assets/Zenyatta.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}

.zenyatta:hover {
  opacity: 1;
  outline: 4px solid $orange;
}

.sombra {
  background-image: url("../../../assets/sombra-op.png");
  height: 150px;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  opacity: 0.5;

  .front {
    background-image: url("../../../assets/Sombra.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}

.sombra:hover {
  opacity: 1;
  outline: 4px solid $orange;
}
