.hero-section {
  margin: 20px;
  display: flex;
  flex-direction: row;
  height: 60px;
}

.hero-selection {
  height: 40px;
  display: flex;
  flex-direction: row;
  background-color: #c3c3c5;
  padding: 5px;
  width: 300px;
  margin: 20px;
  -ms-transform: skewX(-20deg); /* IE 9 */
  -webkit-transform: skewX(-20deg); /* Safari */
  transform: skewX(-20deg); /* Standard syntax */
}

.heroes {
  margin-top: 10px;
}

.classes {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  -ms-transform: skewX(20deg); /* IE 9 */
  -webkit-transform: skewX(20deg); /* Safari */
  transform: skewX(20deg); /* Standard syntax */
}

.hero-class {
  width: 30px;
  margin: 0 10px;
}

.hero-text {
  font-size: 70px;
  padding: 20px 100px;
  z-index: -1;
}

.ana {
  background-image: url("../../../assets/heroes/ana-back-op.png");
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;

  .front {
    background-image: url("../../../assets/heroes/ana.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 150px;
  }
}

.ana:hover {
  opacity: 0.5;
}

.bastion {
  background-image: url("../../../assets/heroes/bast.png");
  height: 150px;
  margin-bottom: 10px;
  background-repeat: no-repeat;

  .front {
    background-image: url("../../../assets/heroes/bast-front.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 150px;
  }
}

.bastion:hover {
  opacity: 0.5;
}

.dva {
  background-image: url("../../../assets/heroes/dva-op.png");
  height: 150px;
  margin-bottom: 10px;
  background-repeat: no-repeat;


  .front {
    background-image: url("../../../assets/heroes/dva.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 150px;
  }
}

.dva:hover {
  opacity: 0.5;
}

.orisa {
  background-image: url("../../../assets/heroes/orisa.jpg");
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;

}

.orisa:hover {
  opacity: 0.5;
}

.reinhardt {
  background-image: url("../../../assets/heroes/reinhardt.jpg");
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;

}

.reinhardt:hover {
  opacity: 0.5;
}

.roadhog {
  background-image: url("../../../assets/heroes/roadhog.jpg");
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;

}

.roadhog:hover {
  opacity: 0.5;
}

.winston {
  background-image: url("../../../assets/heroes/winston.jpg");
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;

}

.winston:hover {
  opacity: 0.5;
}

.zaria {
  background-image: url("../../../assets/heroes/zaria.jpg");
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;

}

.zaria:hover {
  opacity: 0.5;
}

.genji {
  background-image: url("../../../assets/heroes/genji-op.png");
  height: 150px;
  margin-bottom: 10px;
  background-repeat: no-repeat;

  .front {
    background-image: url("../../../assets/heroes/Genji.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 150px;
  }
}

.genji:hover {
  opacity: 0.5;
}

.hanzo {
  background-image: url("../../../assets/heroes/hanzo-op.png");
  height: 150px;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-bottom: 10px;

  .front {
    background-image: url("../../../assets/heroes/Hanzo.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 150px;
  }
}

.hanzo:hover {
  opacity: 0.5;
}

.junkrat {
  background-image: url("../../../assets/heroes/junkrat-opp.png");
  height: 150px;
  background-position: center;
  margin-bottom: 10px;
  background-repeat: no-repeat;

  .front {
    background-image: url("../../../assets/heroes/junkrat.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 150px;
  }
}

.junkrat:hover {
  opacity: 0.5;
}

.lucio {
  background-image: url("../../../assets/heroes/lucio-opp.png");
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;

  .front {
    background-image: url("../../../assets/heroes/Lucio.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 150px;
  }

}

.lucio:hover {
  opacity: 0.5;
}

.mccree {
  background-image: url("../../../assets/heroes/mcc.png");
  height: 150px;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  background-position: center;

  .front {
    background-image: url("../../../assets/heroes/McCree.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 150px;
  }

}

.mccree:hover {
  opacity: 0.5;
}

.mei {
  background-image: url("../../../assets/heroes/mei-op.png");
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;

  .front {
    background-image: url("../../../assets/heroes/Mei.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 150px;
  }

}

.mei:hover {
  opacity: 0.5;
}

.mercy {
  background-image: url("../../../assets/heroes/mercy-op.png");
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;

  .front {
    background-image: url("../../../assets/heroes/Mercy.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 150px;
  }

}

.mercy:hover {
  opacity: 0.5;
}

.phara {
  background-image: url("../../../assets/heroes/phara.jpg");
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;

}

.phara:hover {
  opacity: 0.5;
}

.reaper {
  background-image: url("../../../assets/heroes/reaper.jpg");
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;

}

.reaper:hover {
  opacity: 0.5;
}

.soldier {
  background-image: url("../../../assets/heroes/soldier.jpg");
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;

}

.soldier:hover {
  opacity: 0.5;
}

.symmetra {
  background-image: url("../../../assets/heroes/symmetra.jpg");
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;

}

.symmetra:hover {
  opacity: 0.5;
}

.torbjorn {
  background-image: url("../../../assets/heroes/torbjorn.jpg");
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;

}

.torbjorn:hover {
  opacity: 0.5;
}

.tracer {
  background-image: url("../../../assets/heroes/tracer.jpg");
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;

}

.tracer:hover {
  opacity: 0.5;
}

.widow {
  background-image: url("../../../assets/heroes/widow.jpg");
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;

}

.widow:hover {
  opacity: 0.5;
}

.zenyatta {
  background-image: url("../../../assets/heroes/zenyatta.jpg");
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;

}

.zenyatta:hover {
  opacity: 0.5;
}

.sombra {
  background-image: url("../../../assets/heroes/sombra.jpg");
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;

}

.sombra:hover {
  opacity: 0.5;
}
