/* You can add global styles to this file, and also import other style files */

html {
  min-height: 100%;
  //background-image: linear-gradient(#7B87B9, #405175);
  background-color: #E19B41;
  //background-image: url("assets/heroes/gradient.jpg");
  //background-repeat: no-repeat;
  //background-size: 100%;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  cursor: url("assets/heroes/cursor.cur"), pointer !important;
}

body {
  margin: 0;
}
