.menu-body {
  width: 100%;
  margin: 10px 0 0 20px;
}

.menu-buttons {
  display: flex;
  flex-direction: row;
  width: 50%;
}

button {
  height: 35px;
  margin-right: 15px;
  color: white !important;
  width: 200px;
  font-size: 16px;
  transform: skewX(-20deg);
  opacity: 0.8;
  outline: #43484C;

  &:first-child {
    margin-left: 10px;
  }

  span {
    padding: 0 !important;
  }
}

button:hover {
  opacity: 1;
}

button:focus {
  outline: #43484C;
}
